container_commands:
    01_migrate:
        command: "source /opt/python/run/venv/bin/activate && python citation_manager/manage.py migrate --noinput"
        leader_only: true
    02_createsu:
        command: "source /opt/python/run/venv/bin/activate && python citation_manager/manage.py createsu"
        leader_only: true
    03_collectstatic:
        command: "source /opt/python/run/venv/bin/activate && python citation_manager/manage.py collectstatic --noinput"

option_settings:
    "aws:elasticbeanstalk:application:environment":
        DJANGO_SETTINGS_MODULE: "citation_manager.settings"
        "PYTHONPATH": "/opt/python/current/app/citation_manager:$PYTHONPATH"
    "aws:elasticbeanstalk:container:python":
        WSGIPath: citation_manager/wsgi.py
    "aws:elasticbeanstalk:container:python:staticfiles":
        "/static/": "citation_manager/static/"